* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: #f2f4f8;
}

.container {
  padding: 0 90px;
  background-color: #f2f4f8;
  padding-bottom: 64px;
  height: 100%;
  max-width: 1288px;
  display: flex;
  margin: auto;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

.al-item {
  display: flex;
  align-items: center;
}

.none {
  display: none !important;
}

a {
  text-decoration: none;
}

.hover {
  background-color: rgba(76, 182, 203, 0.3);
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.musicbar {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.musicbar span {
  position: absolute;
  bottom: 0;
  width: 15%;
  text-indent: -9999px;
}

.bar1 {
  left: 0%;
  height: 60%;
  background-color: #797fb4;
}

.bar2 {
  left: 20%;
  height: 45%;
  background-color: #62bcce;
}

.bar3 {
  left: 40%;
  height: 90%;
  background-color: #1ab667;
}

.bar4 {
  left: 60%;
  height: 60%;
  background-color: #fcd417;
}

.bar5 {
  left: 80%;
  height: 40%;
  background-color: #f21b1b;
}

.a1 {
  -webkit-animation: movingbar1 1s infinite alternate both;
  -moz-animation: movingbar1 1s infinite alternate both;
  animation: movingbar1 1s infinite alternate both;
}

.a2 {
  -webkit-animation: movingbar2 1.5s infinite alternate both;
  -moz-animation: movingbar2 1.5s infinite alternate both;
  animation: movingbar2 1.5s infinite alternate both;
}

.a3 {
  -webkit-animation: movingbar3 1.2s infinite alternate both;
  -moz-animation: movingbar3 1.2s infinite alternate both;
  animation: movingbar3 1.2s infinite alternate both;
}

.a4 {
  -webkit-animation: movingbar4 1.1s infinite alternate both;
  -moz-animation: movingbar4 1.1s infinite alternate both;
  animation: movingbar4 1.1s infinite alternate both;
}

.a5 {
  -webkit-animation: movingbar5 1.2s infinite alternate both;
  -moz-animation: movingbar5 1.2s infinite alternate both;
  animation: movingbar5 1.2s infinite alternate both;
}

@-webkit-keyframes movingbar1 {
  0% {
    height: 32%;
  }

  25% {
    height: 80%;
  }

  50% {
    height: 56%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 84%;
  }
}

@-moz-keyframes movingbar1 {
  0% {
    height: 32%;
  }

  25% {
    height: 80%;
  }

  50% {
    height: 56%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 84%;
  }
}

@keyframes movingbar1 {
  0% {
    height: 32%;
  }

  25% {
    height: 80%;
  }

  50% {
    height: 56%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 84%;
  }
}

@-webkit-keyframes movingbar2 {
  0% {
    height: 20%;
  }

  25% {
    height: 58%;
  }

  50% {
    height: 90%;
  }

  75% {
    height: 74%;
  }

  100% {
    height: 53%;
  }
}

@-moz-keyframes movingbar2 {
  0% {
    height: 20%;
  }

  25% {
    height: 58%;
  }

  50% {
    height: 90%;
  }

  75% {
    height: 74%;
  }

  100% {
    height: 53%;
  }
}

@keyframes movingbar2 {
  0% {
    height: 20%;
  }

  25% {
    height: 58%;
  }

  50% {
    height: 90%;
  }

  75% {
    height: 74%;
  }

  100% {
    height: 53%;
  }
}

@-webkit-keyframes movingbar3 {
  0% {
    height: 34%;
  }

  25% {
    height: 69%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 82%;
  }

  100% {
    height: 41%;
  }
}

@-moz-keyframes movingbar3 {
  0% {
    height: 34%;
  }

  25% {
    height: 69%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 82%;
  }

  100% {
    height: 41%;
  }
}

@keyframes movingbar3 {
  0% {
    height: 34%;
  }

  25% {
    height: 69%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 82%;
  }

  100% {
    height: 41%;
  }
}

@-webkit-keyframes movingbar4 {
  0% {
    height: 80%;
  }

  25% {
    height: 49%;
  }

  50% {
    height: 59%;
  }

  75% {
    height: 82%;
  }

  100% {
    height: 65%;
  }
}

@-moz-keyframes movingbar4 {
  0% {
    height: 80%;
  }

  25% {
    height: 49%;
  }

  50% {
    height: 59%;
  }

  75% {
    height: 82%;
  }

  100% {
    height: 65%;
  }
}

@keyframes movingbar4 {
  0% {
    height: 80%;
  }

  25% {
    height: 49%;
  }

  50% {
    height: 59%;
  }

  75% {
    height: 82%;
  }

  100% {
    height: 65%;
  }
}

@-webkit-keyframes movingbar5 {
  0% {
    height: 50%;
  }

  25% {
    height: 30%;
  }

  50% {
    height: 90%;
  }

  75% {
    height: 50%;
  }

  100% {
    height: 65%;
  }
}

@-moz-keyframes movingbar5 {
  0% {
    height: 50%;
  }

  25% {
    height: 30%;
  }

  50% {
    height: 90%;
  }

  75% {
    height: 50%;
  }

  100% {
    height: 65%;
  }
}

@keyframes movingbar5 {
  0% {
    height: 50%;
  }

  25% {
    height: 30%;
  }

  50% {
    height: 90%;
  }

  75% {
    height: 50%;
  }

  100% {
    height: 65%;
  }
}
